<?xml version="1.0"?>
<setings>
	<dev>
		<ProjectName>process_weekly_partitions</ProjectName>
		<ProjectFileName>process_weekly_partitions.ispac</ProjectFileName>
		<FolderName>DeeperviewTab</FolderName>
		<DestinationServer>FTSQL003-WVIR-D\DEEPERVIEW_TAB</DestinationServer>
	</dev>
	<prod>
		<ProjectName>process_weekly_partitions</ProjectName>
		<ProjectFileName>process_weekly_partitions.ispac</ProjectFileName>
		<FolderName>DeeperviewTab</FolderName>
		<DestinationServer>FTSQL003-WVIR-D\DEEPERVIEW_TAB</DestinationServer>
	</prod>
</setings>